body {
    /*max-height: 650px;*/
    height: 100%;
    width: 960px;
    align-content: center;
    padding-left: 150px;
    margin: 0;
    overflow: hidden;
   
    background-color: #dddddd; 
    /*background-image: url(wheat.png);*/

}

.wrapperOverall{
    min-height: 100%;
    margin-bottom: -52px;
}

/*HEADER CODE START*/

/*Wrapper for Header*/
.wrapper {
    overflow: auto;
    text-align: auto;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    background-color: #ffffff;
}

.header {
    float: left;
    background-color: #4aaaa5;
}

h2.Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    color: white;
    float: left;
    text-align: center;
    padding-left: 18px;
    padding-right: 40px;
    background-color: #4aaaa5;
}

.links {
    font-family: Arial, Helvetica, sans-serif; /*unable to find Fonts with Helvetica nue*/
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 5px;
    float: right;
    padding-bottom: -10px;
    word-spacing: 8px;
}

.border1{
    background-color: #cccccc;
    width: 100%;
    height: 2px;
}


/*END HEADER CONTENT*/


.border2{
    background-color: #dddddd;
    width: 95.8%;
    height: 2px;
    margin-left: 19px;
    text-align: center;
    display: inline-block;
}

h2.Title {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    padding-top: 23px;
    margin-left: -62px;
    margin-bottom: 6px;
    padding-left: 8px;
    width: 240px;
    color: teal;
}


/*TEXT LINING*/
label, input {
    margin-left: 20px;
    padding-bottom: 5px;
    width: 95.8%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#message {
    padding-bottom: 130px;
}

input {
    padding-top: 0;
}


/*SUBMIT BUTTON */
input[type=submit] {
    width: 75px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #4aaaa5;
}

/*INPUT FIELD LABELS*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    text-align: justify;
    text-indent: 2em;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -30px;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.contentContact {
    margin-top: 34px;
    margin-bottom: -15px;
    height: 450px;
}

.wrapperContent {   
    background-color: #ffffff;
}

/*FOOTER CONTENT*/

.border3 {
    width: 100%;
    height: 8px;
    background-color: #4aaaa5;
}


footer {
    margin-top: 110px;
    height: 50px;
    color: white;
    background-color: #666666;
}

h6 {
    color: #b7b0a2;
    text-align: center;
}


