body {
    /*max-height: 650px;*/
    height: 100%;
    width: 960px;
    align-content: center;
    padding-left: 150px;
    margin: 0;
    overflow: auto;
    background-color: #dddddd; 
    /*background-image: url(wheat.png);*/

}

.wrapperOverall{
    min-height: 100%;
    margin-bottom: -52px;
}


/*HEADER CODE START*/

/*Wrapper for Header*/
.wrapper {
    overflow: auto;
    text-align: auto;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    background-color: #ffffff;
}

.header {
    float: left;
    background-color: #4aaaa5;
}

h2.Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    color: white;
    float: left;
    text-align: center;
    padding-left: 15px;
    padding-right: 40px;
    background-color: #4aaaa5;
}

.links {
    font-family: Arial, Helvetica, sans-serif; /*unable to find Fonts with Helvetica nue*/
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 5px;
    float: right;
    padding-bottom: -10px;
    word-spacing: 8px;

}

.border1{
    background-color: #cccccc;
    width: 100%;
    height: 2px;
}
/*END HEADER CONTENT*/


.border2{
    background-color: #dddddd;
    width: 95.8%;
    height: 2px;
    margin-left: 17px;
    text-align: center;
    display: inline-block;
}

h2.Title {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    padding-top: 23px;
    margin-left: -50px;
    margin-bottom: 6px;
    padding-left: 8px;
    width: 240px;
    color: teal;
}

/* IMAGE LINING */
.column {
    float: left;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-right: -165px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 150px;
    width: 150px;
}


/* FLOATING LABELS */

.h4 {
    margin-left: 2px;
    padding-left: 5px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;  
}

.Basics, .words, .RpgCar, .Capstone1 {
    position: relative;
    margin-top: -60px;
    margin-bottom: 0;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    color: #ffffff;
    background-color: #4aaaa5;
}


.Basics {
    margin-left: 0px;
    padding-left: 3px;
    padding-top: 15px;
    height: 35px;
    width: 172px;
}

.words {
    margin-left: 0px;
    padding-left: 12px;
    padding-top: 15px;
    padding-right: 8px;
    height: 35px;
    width: 155px;
}


.RpgCar {
    margin-left: 0px;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 15px;
    height: 35px;
    width: 160px;
}

.Capstone1 {
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 8px;
    height: 42px;
    width: 155px;
}


/*TEXT LINING*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    text-align: justify;
    text-indent: 2em;
    padding-right: 20px;
    padding-left: 20px;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.contentIndex {
    margin-top: 34px;
    margin-bottom: -15px;
    height: 475px;
}

.wrapperContent {   
    background-color: #ffffff;
}

.border3 {
    width: 100%;
    height: 8px;
    background-color: #4aaaa5;
}


footer, .push {
    margin-top: 110px;
    height: 50px;
    color: white;
    background-color: #666666;
    margin-bottom: 0;
}

h6 {
    color: #b7b0a2;
    text-align: center;
}


